*{
    box-sizing: border-box;
}
.sidebar {
  width: 250px;
  min-height: calc(100vh - 70px);

  background: #7a1453;

  color: white;

  transition: 0.3s;

  position: relative;
  
}

.sidebar.collapsed {
  width: 75px;

}

.sidebar ul {
  list-style: none;

  padding: 20px 0;
}

.sidebar li {
  margin-bottom: 8px;
}

.menu {
  display: flex;

  align-items: center;

  gap: 18px;

  padding: 15px 20px;

  color: white;

  text-decoration: none;

  transition: 0.3s;
}

.menu:hover {
  background: #5f0f40;
}

.menu.active {
  background: white;

  color: #7a1453;

  border-left: 5px solid gold;
}

.icon {
  font-size: 20px;

  min-width: 25px;
}

.title {
  font-size: 16px;
}

.collapse-btn {
  position: absolute;

  right: -15px;

  top: 250px;

  width: 30px;

  height: 30px;

  border-radius: 50%;

  border: none;

  background: white;

  color: #7a1453;

  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Tablet */

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;         /* ✅ anchor to bottom instead of calculating height */
    
    width: 240px;
    min-height: unset; /* remove the vh-based calculation for mobile */
    
    
  }

  .sidebar.collapsed {
    transform: translateX(-100%);

    width: 240px;
  }

  .collapse-btn {
    display: none;
  }
}
